{% if REQUIREMENTS.phpbb_version_min matches '/^[\\D]*3\\.1.*$/' %}
<li class="small-icon icon-faq no-bulletin"><a href="{{ '{{' }} U_DEMO_PAGE }}">{{ '{{' }} lang('DEMO_PAGE') }}</a></li>
{% else %}
<li>
	<a href="{{ '{{' }} U_DEMO_PAGE }}" title="{{ '{{' }} lang('DEMO_PAGE') }}" role="menuitem">
		<i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>{{ '{{' }} lang('DEMO_PAGE') }}</span>
	</a>
</li>
{% endif %}
