{% if skeleton_version_compare(REQUIREMENTS.phpbb_version_min, "3.2", "<") %}{# for phpBB 3.1.x #}
<li class="small-icon icon-faq no-bulletin"><a href="{{ '{{' }} U_{{ EXTENSION.extension_name|upper }}_PAGE }}">{{ '{{' }} lang('{{ EXTENSION.extension_name|upper }}_PAGE') }}</a></li>
{% else %}{# for phpBB > 3.2.x #}
<li data-last-responsive="true">
	<a href="{{ '{{' }} U_{{ EXTENSION.extension_name|upper }}_PAGE }}" title="{{ '{{' }} lang('{{ EXTENSION.extension_name|upper }}_PAGE') }}" role="menuitem">
		<i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>{{ '{{' }} lang('{{ EXTENSION.extension_name|upper }}_PAGE') }}</span>
	</a>
</li>
{% endif %}
