<?php
/**
 *
 * {{ EXTENSION.extension_display_name }}. An extension for the phpBB Forum Software package.
 *
 * @copyright (c) {{ "now"|date("Y") ~ (AUTHORS.0.author_name ? ', ' ~ AUTHORS.0.author_name) ~ (AUTHORS.0.author_homepage ? ', ' ~ AUTHORS.0.author_homepage) }}
 * @license GNU General Public License, version 2 (GPL-2.0)
 *
 */

namespace {{ EXTENSION.vendor_name }}\{{ EXTENSION.extension_name }}\ucp;

/**
 * {{ EXTENSION.extension_display_name }} UCP module.
 */
class main_module
{
	var $u_action;

	function main($id, $mode)
	{
		global $db, $request, $template, $user;

		$this->tpl_name = 'ucp_{{ EXTENSION.extension_name|lower }}_body';
		$this->page_title = $user->lang('UCP_{{ EXTENSION.extension_name|upper }}_TITLE');
		add_form_key('{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_ucp');

		$data = array(
			'user_{{ EXTENSION.extension_name|lower }}' => $request->variable('user_{{ EXTENSION.extension_name|lower }}', $user->data['user_{{ EXTENSION.extension_name|lower }}']),
		);

		if ($request->is_set_post('submit'))
		{
			if (!check_form_key('{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_ucp'))
			{
				trigger_error($user->lang('FORM_INVALID'));
			}

			$sql = 'UPDATE ' . USERS_TABLE . '
				SET ' . $db->sql_build_array('UPDATE', $data) . '
				WHERE user_id = ' . (int) $user->data['user_id'];
			$db->sql_query($sql);

			meta_refresh(3, $this->u_action);
			$message = $user->lang('UCP_{{ EXTENSION.extension_name|upper }}_SAVED') . '<br /><br />' . $user->lang('RETURN_UCP', '<a href="' . $this->u_action . '">', '</a>');
			trigger_error($message);
		}

		$template->assign_vars(array(
			'S_USER_{{ EXTENSION.extension_name|upper }}'	=> $data['user_{{ EXTENSION.extension_name|lower }}'],
			'U_UCP_ACTION'		=> $this->u_action,
		));
	}
}
