{{ '{' }}% include 'overall_header.html' %}

<h1>{{ '{{' }} lang('ACP_{{ EXTENSION.extension_name|upper }}_TITLE') }}</h1>

{{ '{' }}% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ '{{' }} lang('WARNING') }}</h3>
		<p>{{ '{{' }} ERROR_MSG }}</p>
	</div>
{{ '{' }}% endif %}

<form id="{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_acp" name="{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_acp" method="post" action="{{ '{{' }} U_ACTION }}">

	<fieldset>
		<legend>{{ '{{' }} lang('SETTINGS') }}</legend>
		<dl>
			<dt><label for="{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_goodbye">{{ '{{' }} lang('ACP_{{ EXTENSION.extension_name|upper }}_GOODBYE') ~ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_goodbye" value="1"{{ '{' }}% if {{ EXTENSION.vendor_name|upper }}_{{ EXTENSION.extension_name|upper }}_GOODBYE %} checked="checked"{{ '{' }}% endif %} /> {{ '{{' }} lang('YES') }}</label>
				<label><input type="radio" class="radio" name="{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_goodbye" value="0"{{ '{' }}% if not {{ EXTENSION.vendor_name|upper }}_{{ EXTENSION.extension_name|upper }}_GOODBYE %} checked="checked"{{ '{' }}% endif %} /> {{ '{{' }} lang('NO') }}</label></dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ '{{' }} lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="submit" id="preview" name="preview" value="{{ '{{' }} lang('PREVIEW') }}" />
		{{ '{{' }} S_FORM_TOKEN }}
	</fieldset>

</form>

{{ '{' }}% include 'overall_footer.html' %}
