{{ '{' }}% include 'mcp_header.html' %}

<form id="mcp" method="post" action="{{ '{{' }} U_POST_ACTION }}">

	<h2>{{ '{{' }} lang('MCP_DEMO_TITLE') }}</h2>

	<div class="panel">
		<div class="inner">

			<fieldset>
				<dl>
					<dt><label for="username">{{ '{{' }} lang('SELECT_USER') ~ lang('COLON') }}</label></dt>
					<dd><input name="username" id="username" type="text" class="inputbox" /></dd>
				</dl>
			</fieldset>

		</div>
	</div>

	<fieldset class="submit-buttons">
		<input type="reset" name="reset" value="{{ '{{' }} lang('RESET') }}" class="button2" />&nbsp;
		<input type="submit" name="submituser" value="{{ '{{' }} lang('SUBMIT') }}" class="button1" />
		{{ '{{' }} S_FORM_TOKEN }}
	</fieldset>
</form>

{{ '{' }}% include 'mcp_footer.html' %}
