{{ '{' }}% include 'mcp_header.html' %}

<form id="{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_mcp" name="{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_mcp" method="post" action="{{ '{{' }} U_MCP_ACTION }}">

	<h2>{{ '{{' }} lang('MCP_{{ EXTENSION.extension_name|upper }}_TITLE') }}</h2>

	<div class="panel">
		<div class="inner">
			<fieldset>
				{{ '{' }}% if S_ERROR %}
					<p class="error">{{ '{{' }} ERROR_MSG }}</p>
				{{ '{' }}% endif %}

				<dl>
					<dt><label for="username">{{ '{{' }} lang('SELECT_USER') ~ lang('COLON') }}</label></dt>
					<dd><input name="username" id="username" type="text" class="inputbox" /></dd>
				</dl>
			</fieldset>
		</div>
	</div>

	<fieldset class="submit-buttons">
		<input type="reset" name="reset" value="{{ '{{' }} lang('RESET') }}" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{{ '{{' }} lang('SUBMIT') }}" class="button1" />
		{{ '{{' }} S_FORM_TOKEN }}
	</fieldset>
</form>

{{ '{' }}% include 'mcp_footer.html' %}
