{{ '{' }}% include 'ucp_header.html' %}

<form id="{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_ucp" name="{{ EXTENSION.vendor_name|lower }}_{{ EXTENSION.extension_name|lower }}_ucp" method="post" action="{{ '{{' }} U_UCP_ACTION }}">

	<h2>{{ '{{' }} lang('SETTINGS') }}</h2>

	<div class="panel">
		<div class="inner">
			<fieldset>
				{{ '{' }}% if S_ERROR %}
					<p class="error">{{ '{{' }} ERROR_MSG }}</p>
				{{ '{' }}% endif %}

				<dl>
					<dt><label for="user_{{ EXTENSION.extension_name|lower }}0">{{ '{{' }} lang('UCP_{{ EXTENSION.extension_name|upper }}_USER') ~ lang('COLON') }}</label><br /><span>{{ '{{' }} lang('UCP_{{ EXTENSION.extension_name|upper }}_USER_EXPLAIN') }}</span></dt>
					<dd><label for="user_{{ EXTENSION.extension_name|lower }}1"><input type="radio" name="user_{{ EXTENSION.extension_name|lower }}" id="user_{{ EXTENSION.extension_name|lower }}1" value="1"{{ '{' }}% if S_USER_{{ EXTENSION.extension_name|upper }} %} checked="checked"{{ '{' }}% endif %} /> {{ '{{' }} lang('YES') }}</label>
						<label for="user_{{ EXTENSION.extension_name|lower }}0"><input type="radio" name="user_{{ EXTENSION.extension_name|lower }}" id="user_{{ EXTENSION.extension_name|lower }}0" value="0"{{ '{' }}% if not S_USER_{{ EXTENSION.extension_name|upper }} %} checked="checked"{{ '{' }}% endif %} /> {{ '{{' }} lang('NO') }}</label></dd>
				</dl>
			</fieldset>
		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" id="submit" class="button1" value="{{ '{{' }} lang('SUBMIT') }}" tabindex="2" />&nbsp;
				<input type="reset" name="reset" class="button2" value="{{ '{{' }} lang('RESET') }}" /></dd>
		</dl>
		{{ '{{' }} S_HIDDEN_FIELDS }}
		{{ '{{' }} S_FORM_TOKEN }}
	</fieldset>
</form>

{{ '{' }}% include 'ucp_footer.html' %}
